.article{
    font-size:20px;
    text-align:center;

}
.ecole .name{
    font-weight: bolder;
    font-size:18px;


}
a{
    text-decoration: none;
}
.ml-1{
    margin-left:2px;

}
.ecole{
    
    font-weight: bolder;
    font-size:18px;
}
.mb-4{
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
    
}